{
  "presets": ["babel-preset-expo","react-native-stage-0/decorator-support"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"],
      "presets": [
        "react-native" // this is required for debugging with react-native/packager/transformer
      ],
      "sourceMaps": true
    }
  }
}
